// Owl Carousel
.owl-carousel {
  .owl-nav {
    button {
      &.owl-prev,
      &.owl-next {
        color: $color-blue-0;
        background-color: $color-white-0;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.1);
        font-size: $fs-5;
        position: absolute;
        top: 30%;
      }
      &.owl-prev {
        left: -30px;
      }
      &.owl-next {
        right: -30px;
      }
    }
  }
}

// Antd
// .ant-form-item-label {
//   text-align-last: left;
// }
.ant-switch-checked {
  background-color: $color-blue-0;
}
.ant-table-thead {
  .ant-table-cell {
    &.column--width {
      // min-width: 130px;
      @include styleText($color-black-0, $fs-3 - 3, $fw-3);
      white-space: nowrap;
    }
  }
}

.ant-form-item-explain-error {
  margin-top: 5px;
}

.login-content .ant-input-affix-wrapper > input.ant-input:focus {
  // box-shadow: 0 0 0 30px white !important
  box-shadow: 0 0 0 30px white inset !important;
}
