// --------------------- Antd ----------------------
// .ant-form-item-label {
//   text-align-last: left;
// }
.ant-switch-checked {
  background-color: $color-blue-0;
}
.ant-table-thead {
  th.ant-table-cell {
    @include styleText($color-black-0, $fs-3 - 3, $fw-1);
    white-space: nowrap;
  }
}

.ant-form-item-explain-error {
  margin-top: 5px;
}

.login-content .ant-input-affix-wrapper > input.ant-input:focus {
  box-shadow: 0 0 0 30px white inset !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: $color-blue-0;
  border-color: $color-blue-0;
}

// Antd table
.ant-table-thead {
  background-color: $color-blue-0;
}

.input-detail--category,
.input-custom-disabled,
.input-detail {
  &:disabled {
    background: none;
    border: none;
    color: $color-black-0;
  }
  & > textarea:disabled {
    background: none;
    border: none;
    color: $color-black-0;
  }
}

// input-disabled at clinic bed
.ant-input-number-disabled {
  background: none;
  border: none;
  color: $color-black-0;
}

.view-detail-service {
  text-align: center;
}

.view-detail-serivce__icon {
  @include styleText($color-gray-1, $fs-3, $fw-0);
  transition: 0.25s ease;
  &:hover {
    @include styleText($color-blue-0, $fs-3, $fw-0);
    transform: translateY(-2px);
  }
}

.user-row {
  cursor: pointer;
  .user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

.service_row {
  cursor: default;
}

thead[class*='ant-table-thead'] th {
  background-color: rgba($color: $color-blue-0, $alpha: 0.6);
}

.ant-input,
.ant-input-password {
  border-radius: 4px;
}

.ant-table-wrapper {
  border: 1px solid $color-line-0;
  border-radius: 10px;

  .ant-table-content {
    border-radius: 10px;
    .ant-table-thead {
      .ant-table-cell {
        color: $color-white-0;
      }
    }
  }
}

.ant-tabs {
  border: 1px solid $color-line-0;
  .ant-tabs-content-holder {
    padding: $pd-1;
  }
}

.ant-picker {
  width: 250px;
}

// hide sorter icon in table, apply when use custom sort icon in table
// .ant-table-column-sorter {
//   display: none;
// }

// ---------------- React Quill -------------
/* Set content for font-families */
.ql-font-arial,
.ql-font span[data-value='arial']::before {
  font-family: Arial, sans-serif;
}
.ql-font-comic-sans,
.ql-font span[data-value='comic-sans']::before {
  font-family: 'Comic Sans MS', cursive, sans-serif;
}
.ql-font-courier-new,
.ql-font span[data-value='courier-new']::before {
  font-family: 'Courier New';
}
.ql-font-georgia,
.ql-font span[data-value='georgia']::before {
  font-family: Georgia, serif;
}
.ql-font-helvetica,
.ql-font span[data-value='helvetica']::before {
  font-family: Helvetica, sans-serif;
}
.ql-font-lucida,
.ql-font span[data-value='lucida']::before {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

// --------------- Quill Editor ---------------
.ql-toolbar.ql-snow {
  border-top-left-radius: $border-radius-1;
  border-top-right-radius: $border-radius-1;
}

.ql-container.ql-snow {
  border-bottom-left-radius: $border-radius-1;
  border-bottom-right-radius: $border-radius-1;
}

.ql-tooltip.ql-editing.ql-flip {
  left: 0 !important;
  top: 10px !important;
}

.ql-custom-button {
  background: none;
  border: none;
  cursor: pointer;
  float: left;
  height: 24px;
  padding: 3px 5px;
  width: 28px;
  .ql-custom-icon {
    font-size: 15px;
  }
}

// ------------ Swiper ---------
.swiper-wrapper {
  align-items: center;
}
