// Owl Carousel
.owl-carousel {
  .owl-nav {
    button {
      &.owl-prev,
      &.owl-next {
        color: $color-blue-0;
        background-color: $color-white-0;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.1);
        font-size: $fs-5;
        position: absolute;
        top: 30%;
      }
      &.owl-prev {
        left: -30px;
      }
      &.owl-next {
        right: -30px;
      }
    }
  }
}

// Antd
// .ant-form-item-label {
//   text-align-last: left;
// }
.ant-switch-checked {
  background-color: $color-blue-0;
}
.ant-table-thead {
  th.ant-table-cell {
    @include styleText($color-black-0, $fs-3 - 3, $fw-1);
    white-space: nowrap;
  }
}

.ant-form-item-explain-error {
  margin-top: 5px;
}

.login-content .ant-input-affix-wrapper > input.ant-input:focus {
  // box-shadow: 0 0 0 30px white !important
  box-shadow: 0 0 0 30px white inset !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: $color-blue-0;
  border-color: $color-blue-0;
}

// Antd table
.ant-table-thead {
  background-color: $color-blue-0;
}

.input-detail--category,
.input-custom-disabled,
.input-detail {
  &:disabled {
    background: none;
    border: none;
    color: $color-black-0;
  }
  & > textarea:disabled {
    background: none;
    border: none;
    color: $color-black-0;
  }
  // input-disabled at clinic bed
}

.ant-input-number-disabled {
  background: none;
  border: none;
  color: $color-black-0;
}

.view-detail-service {
  text-align: center;
}

.view-detail-serivce__icon {
  @include styleText($color-gray-1, $fs-3, $fw-0);
  transition: 0.25s ease;
  &:hover {
    @include styleText($color-blue-0, $fs-3, $fw-0);
    transform: translateY(-2px);
  }
}

.user-row {
  cursor: pointer;
  .user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

.service_row {
  cursor: default;
}

// .ant-table-row:hover {
//   &.custom-row {
//     background-color: rgba($color: $color-gray-1, $alpha: 1);
//   }
// }

thead[class*='ant-table-thead'] th {
  background-color: rgba(86, 190, 209, 0.6);
}

.ant-input,
.ant-input-password {
  border-radius: 10px;
}

.ant-table-wrapper {
  border: 1px solid $color-line-0;
  border-radius: 10px;

  .ant-table-content {
    border-radius: 10px;
    .ant-table-thead {
      .ant-table-cell {
        color: $color-white-0;
      }
    }
  }
}
