.layout-container {
  padding-left: 200px;
  // background-color: $color-white-1;
  min-height: 100vh;
  .layout-content {
    background-color: $color-white-0;
    padding: $pd-4 $pd-1;
    min-height: 100vh;
  }
}
