.article-detail-content {
  border: 1px solid rgb(235, 237, 240);
  border-radius: $border-radius-3;
  .article-content {
    padding: 0 $pd-4;
    .header {
      margin: $mg-3 0;
      display: flex;
      justify-content: space-between;
      .author-info {
        display: flex;
        align-items: center;
        .avatar {
          width: 48px;
          height: 48px;
          display: block;
          margin-right: $mg-4 + 5;
          border-radius: 50%;
        }
        .name {
          @include styleText($color-brown-1, $fs-0 + 1, $fw-0);
          margin-bottom: 0;
        }
        .time {
          margin-bottom: 0;
          @include styleText($color-smoke, $fs-0 - 1, $fw-0);
          display: flex;
          align-items: center;
          span {
            margin-right: $mg-4;
          }
        }
      }
      .author-social {
        .icon {
          @include styleText($color-white-2, $fs-3, $fw-0);
          margin-right: $mg-2 - 5;
          transition: 0.4s ease;
          cursor: pointer;
          &:hover {
            @include styleText($color-blue-0, $fs-3, $fw-0);
          }
        }
      }
    }
  }
}
