.dashboard-container {
  // Dashboard Admin and all
  .header {
    //Default for admin
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    .dashboard-card-container {
      .num {
        color: $color-white-0;
      }
      .text {
        color: $color-white-0;
      }
      .icon {
        color: $color-white-0;
      }
      &:nth-child(1) {
        background-color: $color-blue-1;
      }
      &:nth-child(2) {
        background-color: $color-tomato;
      }
      &:nth-child(3) {
        background-color: $color-green-0;
      }
      &:nth-child(4) {
        background-color: $color-yellow-0;
      }
    }
    &.sale,
    &.support {
      grid-template-columns: repeat(3, 1fr);
      .dashboard-card-container {
        padding: $pd-1 $pd-3;
        // .content {
        //   margin-top: 0;
        // }
      }
    }
  }
  .content {
    margin-top: $mg-2;
    // Patient Visit & Income & Appointment
    // & Patient review & Pie chart appointment
    .patient-visit-container,
    .income-container,
    .appointments-container,
    .patient-review-container,
    .pie-charts-appointment,
    .payment-container,
    .support-container,
    .social-container {
      padding-right: $pd-4;
      .patient-visit-content,
      .social-content,
      .income-content,
      .appointments-content,
      .patient-review-content,
      .pie-appointment-content,
      .support-content,
      .payment-content {
        border-radius: $border-radius-2;
        border: 1px solid $color-line-0;
        padding-bottom: $pd-3;
        .heading {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 $pd-4 + 4;
          margin: $mg-4 0;
          .title {
            @include styleText($color-black-0, $fs-5, $fw-3);
            margin-bottom: 0;
          }
          .dropdown {
            min-width: 140px;
          }
        }
      }
      &.right {
        padding-right: 0;
        &.barchart {
          .recharts-legend-wrapper {
            padding-top: 0 !important;
          }
        }
      }
    }

    // Appointment
    .appointments-container,
    .payment-container {
      .appointments-content,
      .payment-content {
        .ant-table-wrapper {
          border-radius: 0;
          .ant-table-content {
            border-radius: 0;
          }
        }
      }
    }

    // Patient Review
    .patient-review-container {
      .patient-review-content {
        .review-list {
          .review-item {
            display: flex;
            align-items: center;
            padding: 0 $pd-1;
            margin-bottom: $mg-4 + 5;
            .avatar {
              margin-right: $mg-1;
              width: 50px;
              height: 50px;
              border-radius: 50%;
              display: block;
            }
            .info {
              .name {
                @include styleText($color-black-0, $fs-0, $fw-2);
                margin-bottom: 0;
              }
              .specific {
                @include styleText($color-gray-0, $fs-1, $fw-0);
                margin-bottom: 0;
              }
              .star-list {
                display: flex;
                .icon {
                  @include styleText($color-yellow-0, $fs-0, $fw-0);
                }
              }
            }
            .total-patients {
              margin-left: auto;
              @include styleText($color-black-0, $fs-0, $fw-0);
            }
          }
        }
      }
    }

    // Socials
    .social-container {
      .social-content {
        .social-item {
          padding: 0 $pd-4 + 5;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          margin-bottom: $mg-4;
          .icon {
            @include styleText($color-facebook, $fs-6, $fw-0);
            &.twitter {
              color: $color-twitter;
            }
            &.youtube {
              color: $color-red-0;
            }
            &.linkedin {
              color: $color-linkedin;
            }
          }
          .info {
            text-align: center;
            .num {
              margin-bottom: 0;
              @include styleText($color-black-0, $fs-5, $fw-2);
            }
            .text {
              @include styleText($color-black-0, $fs-3, $fw-0);
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  // Dashboard BO
  .dashboard-bo {
    .header {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
