.reset-password__container {
  background-color: $color-brown-0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .reset-password__form {
    text-align: center;
    background-color: $color-white-0;
    padding: 0 $pd-5 $pd-4 $pd-5;
    max-width: 50%;
    .logo {
      width: 80%;
      margin: auto;
      height: auto;
      display: block;
    }
    .input {
      &:last-child {
        margin-top: $mg-4;
      }
    }
    .title {
      padding-top: $pd-3;
      @include styleText($color-brown-1, $fs-5, $fw-0);
    }
    .button--main {
      width: 100%;
      margin: $mg-4 + 5 0 0;
      padding: $pd-2 0;
      .spinner {
        margin: 0 auto;
        width: 24px;
        height: 24px;
        border-width: 3px;
      }
    }
  }
}
