.user-row {
  cursor: pointer;
  .user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

.modal__overlay.user-detail {
  .content {
    // Content for user detail
    .title {
      padding: $pd-1 + 1;
      text-align: center;
      @include styleText($color-black-0, $fs-5, $fw-1);
    }
    .head {
      padding: 0 $pd-1;
      display: flex;
      margin-bottom: $mg-3 - 5px;
      img {
        border-radius: 5px;
        object-fit: cover;
        width: 74px;
        height: 74px;
        display: block;
        margin-right: $mg-2;
      }
      .description {
        .id,
        .name,
        .category {
          margin-bottom: 0;
        }
        .id {
          @include styleText($color-black-0, $fs-1, $fw-0);
        }
        .name {
          @include styleText($color-black-0, $fs-3, $fw-2);
        }
        .category {
          @include styleText($color-gray-1, $fs-1, $fw-0);
        }
      }
      .tag-stars {
        background: $color-yellow-0;
        height: fit-content;
        justify-content: flex-start;
        border-radius: 3px;
        padding: $pd-2 - 3 $pd-0;
        @include styleText($color-white-0, $fs-1, $fw-0);
        display: flex;
        align-items: center;
        span {
          margin-left: $mg-0;
        }
      }
    }
    .body {
      .body-title {
        @include styleText($color-black-0, $fs-0, $fw-2);
        border-bottom: 1px solid #e6e9f4;
        margin-bottom: $mg-2;
        padding-bottom: $pd-2;
      }
      .details-container {
        margin-bottom: $mg-4;
        .details-title {
          margin-bottom: $mg-0 + 2;
          @include styleText($color-black-0, $fs-0 - 1, $fw-1);
        }
        .details-info {
          @include styleText($color-gray-1, $fs-0 - 1, $fw-0);
        }
      }
      .total-consulation {
        span {
          color: $color-blue-0;
        }
      }
    }
    .footer {
      margin-top: $mg-3;
      display: flex;
      justify-content: center;
      .action-btn,
      .button {
        padding: $pd-0 $pd-4;
        &:first-child {
          margin-right: $mg-4;
        }
      }
    }
  }
}
