.userForm,
.categoryForm,
.serviceForm,
.clinicForm,
.roomForm,
.bedForm,
.doctorForm {
  .spinner {
    border-width: 2px;
    width: 20px;
    height: 20px;
  }
  .button--light {
    margin-left: 30px;
  }
}
