.input-group {
  position: relative;
  border-radius: 14px;
}

.input-form {
  border: none;
  outline: none;
  border-radius: 14px;
  width: 100%;
  background-color: $color-white-0;
  padding: $pd-3 $pd-1;
  transition: 0.25s ease;
  border: 1px solid $color-white-1;
}

.input-form:focus {
  border-color: $color-blue-0;
}
