.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 30;
  box-shadow: 0 3px 6px -4px #0000001f;
  background-color: rgba($color: $color-black-0, $alpha: 0.6);
  .modal__container {
    background-color: $color-white-0;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 40;
    transform: translate(-50%, -50%);
    padding: $pd-3 0;
    font-size: $fs-0;
    text-align: center;
    border: none;
    .modal__title {
      @include styleText($color-black-0, $fs-3, $fw-0);
    }
    .modal__close-btn {
      padding: 1rem;
      position: absolute;
      top: 0px;
      right: 0px;
      cursor: pointer;
      .modal__close-icon {
        @include styleText($color-gray-0, $fs-5, $fw-0);
        transition: 0.25s ease;
        &:hover {
          color: $color-black-0;
          transform: translateY(-3px);
        }
      }
    }
    .modal__body {
      max-width: 400px;
      min-height: 400px;
      color: $color-brown-0;
      padding: $pd-1;
      border-top: 1px solid $color-brown-0;
      & > p {
        margin-bottom: $mg-4;
      }
      .modal__image {
        object-fit: contain;
        display: block;
        width: 100%;
        height: auto;
      }
    }
    .modal__footer {
      display: flex;
      justify-content: space-evenly;
    }
  }
}
