.modal__overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: #000000, $alpha: 0.6);
  z-index: 90;
  &.active {
    display: flex;
  }

  .content {
    // border-radius: 15px;
    position: absolute;
    background-color: $color-white-0;
    top: 50%;
    left: 50%;
    max-width: 500px;
    transform: translate(-50%, -50%);
    padding: 0 $pd-4 $pd-4;
    animation: loadingDetail 0.4s ease;
    z-index: 40;
    .close-btn {
      padding: 1rem;
      position: absolute;
      top: 0px;
      right: 0px;
      cursor: pointer;
      .close-icon {
        @include styleText($color-gray-0, $fs-5, $fw-0);
        transition: 0.25s ease;
        &:hover {
          color: $color-black-0;
          transform: translateY(-3px);
        }
      }
    }

    // Content for preview
    &.content-preview {
      padding: 0;
      .title {
        padding: $pd-1 $pd-3 + 4;
        @include styleText($color-brown-1, $fs-0, $fw-1);
        border-bottom: 1px solid rgba(0, 0, 0, 0.06);
        margin-bottom: 0;
      }
      .modal-image {
        padding: $pd-3;
        width: 100%;
        height: auto;
        display: block;
      }
    }

    // Content for confirm
    &.content--confirm {
      text-align: center;
      height: fit-content;
      padding: $pd-4;
      .icon-title {
        text-align: center;
        font-size: $fs-6 + 10;
        margin-bottom: $mg-4;
      }
      .icon-title--delete {
        color: $color-red-0;
      }
      .message {
        @include styleText($color-brown-1, $fs-5, $fw-1);
      }
      .object {
        margin-bottom: $mg-2;
        @include styleText($color-black-0, $fs-3, $fw-0);
      }
      .btn-container {
        .btn {
          &:first-child {
            margin-right: $mg-1;
          }
        }
      }
    }
  }
}

// Test animation for loading detail
@keyframes loadingDetail {
  0% {
    top: 35%;
  }
  100% {
    top: 50%;
  }
}
