.diagram-container {
  display: flex;
  justify-content: center;
  margin-bottom: $mg-2;
  .diagram-content {
    min-width: 300px;
    max-width: 500px;
    display: inline-block;
    position: relative;
    .title-room {
      position: absolute;
      text-align: center;
      left: 50%;
      top: 10;
      transform: translateX(-50%);
    }
    .room {
      width: 100%;
      height: 100%;
      position: relative;
      border: 1px solid $color-black-0;
      padding: $pd-3 0;
      &::before {
        content: 'Entrance';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        display: block;
        border-bottom: 1px solid $color-white-0;
        height: 30px;
        background-color: $color-white-0;
        padding: 0 $pd-0;
      }
      .bed-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .bed-item {
          text-align: center;
          .bed-icon {
            @include styleText($color-gray-0, $fs-2, $fw-0);
            transition: 0.25s ease;
            cursor: pointer;
            &.active {
              @include styleText($color-blue-0, $fs-2, $fw-0);
            }
            &:hover {
              transform: translateY(-2px);
              @include styleText($color-blue-0, $fs-2, $fw-0);
            }
          }
        }
      }
    }
  }
}
